 ---
 console.log('javascript')
 ---
 <header class="py-8 px-4 mx-auto mx-w-xl lg:py-16 lg:px-16">
    <div class="mx-auto text-center mb-8 lg_mb-16">
        <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
            SpaceX Launches 🚀
        </h2>
        <p class="font-light text-gray-500 sm_text-xl dark:text-gray-400">
            All the information about SpaceX Launches
        </p>
    </div>
 </header> 